/* 
colour palette of choice https://coolors.co/006d77-83c5be-edf6f9-ffddd2-e29578 
background-color: #BADEDA
bc: 006D77
color: #EDF6F9 / #FFDDD2
*/

/* Base Site Styles*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #EDF6F9;
    color: #006D77;
}

.top-banner {
    padding: 20px;
}

.flashes {
    position: relative;
    background-color: #FFDDD2;
    padding: 15px;
    border-radius: 50px;
}

.flash-message {
    text-align: center;
    font-size: 1rem;
}

.vertically-cent{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Navbar */
.navbar {
    border-radius: 25px;
    margin: 15px;
    background-color: #006D77;
}

.navbar-brand, .nav-link{
    color: #FFDDD2 !important;
}

/* Main page */
.hero-section {
    height: 100vh;
    text-align: center;
    padding-top: 20%;
}

.down-btn {
    color: #E29578;
    font-size: 1.5rem;
}

#main-features {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 10%;
    padding-bottom: 15%;
    height: 100vh;
}

.selling-points {
    padding: 5%;
}

.feature-card-section {
    padding: 2%;
}

.card-title {
    color: #E29578;
}

.far, .fas {
    color: #006D77;
}

.fa-angle-down {
    color: #E29578 !important;
}

.feature-card {
    padding: 1%;
    margin-bottom: 2%;
}

/* Login Page */
.jumbotron {
    width: 80vw;
    margin-top: 10%;
    background-color: #006D77;
    color: #FFDDD2;
    border-radius: 25px;
}

.form-group {
    text-align: center;
}

.form-control {
    border-radius: 25px;
}

.btn-primary {
    border: none;
    border-radius: 25px;
    color: #006D77;
    background-color: #FFDDD2;
}

/* Management page */
.card {
    border-radius: 25px;
}


.card-header {
    border-radius: 25px !important;
    padding: .75rem .75rem;
}

.plus-button {
    color: #E29578 !important;
    font-size: 1.5rem;
}

.card-section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* Schedule Section */
.schedule-heading {
    text-align: center;
}

/* Register Section */
.register-heading {
    text-align: center;
}

.back-button {
    margin-top: 2%;
}

.alternative-login {
    text-align: center;
}

.alternative-login button > a {
    color: #006D77 !important;
}

/* hover states */

.nav-link:hover {
    color: #E29578 !important;
}

.row > .btn-primary:hover {
    background-color: #EDF6F9;
    color: #E29578;
}

.down-btn:hover {
    color: #006D77;
}

.back-button:hover {
    color: #006D77;
}

.management-page > .btn-primary:hover {
    background-color: #FFDDD2;
    color: #006D77;
}

.fa-plus-circle:hover {
    color: #006D77;
}

.alternative-login button:hover {
    background-color: #FFDDD2;
}