/* 
colour palette of choice https://coolors.co/006d77-83c5be-edf6f9-ffddd2-e29578 
background-color: #BADEDA
bc: 006D77
color: #EDF6F9 / #FFDDD2
*/

/* Base Site Styles*/

body {
    background-color: #EDF6F9;
    color: #006D77;
}

/* Navbar */
.navbar {
    border-radius: 25px;
    margin: 15px;
    background-color: #FFDDD2;
}

.navbar-brand, .nav-link{
    color: #006D77 !important;
}


/* Login Page */
.jumbotron {
    width: 80vw;
    margin-top: 10%;
    background-color: #006D77;
    color: #FFDDD2;
    border-radius: 25px;
}

.form-group {
    text-align: center;
}

.form-control {
    border-radius: 25px;
}

.btn-primary {
    border: none;
    border-radius: 25px;
    color: #006D77;
    background-color: #FFDDD2;
}


/* hover states */

.Logo:hover, .Nav-link:hover {
    color: #006D77;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #EDF6F9;
    color: #E29578;
}

.back-button:hover {
    color: #006D77;
}