/* 
colour palette of choice https://coolors.co/006d77-83c5be-edf6f9-ffddd2-e29578 
background-color: #BADEDA
bc: 006D77
color: #EDF6F9 / #FFDDD2
*/

/* Base Site Styles*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #EDF6F9;
    color: #006D77;
}

.top-banner {
    padding: 20px;
}

.flashes {
    position: relative;
    background-color: #FFDDD2;
    padding: 15px;
    border-radius: 50px;
}

.flash-message {
    text-align: center;
    font-size: 1rem;
}

/* Navbar */
.navbar {
    border-radius: 25px;
    margin: 15px;
    background-color: #006D77;
}

.navbar-brand, .nav-link{
    color: #FFDDD2 !important;
}


/* Login Page */
.jumbotron {
    width: 80vw;
    margin-top: 10%;
    background-color: #006D77;
    color: #FFDDD2;
    border-radius: 25px;
}

.form-group {
    text-align: center;
}

.form-control {
    border-radius: 25px;
}

.btn-primary {
    border: none;
    border-radius: 25px;
    color: #006D77;
    background-color: #FFDDD2;
}


/* Management page */
.card {
    border-radius: 25px;
}


.card-header {
    border-radius: 25px !important;
    padding: .75rem .75rem;
}

.plus-button {
    color: #E29578 !important;
    font-size: 1.5rem;
}

.card-section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* Schedule Section */
.schedule-heading {
    text-align: center;
}

/*.add-user-body {
    display: none;
}*/

/* hover states */

.nav-link:hover {
    color: #E29578 !important;
}

.row > .btn-primary:hover {
    background-color: #EDF6F9;
    color: #E29578;
}

.back-button:hover {
    color: #006D77;
}

.management-page > .btn-primary:hover {
    background-color: #FFDDD2;
    color: #006D77;
}

.fa-plus-circle:hover {
    color: #006D77;
}