{% extends "base.html" %}
{% block nav %}
{% endblock %}
{% block content %}


    <div class="container">
        <div class="row justify-content-center">
            {% if session.user|lower %}
            <div class="jumbotron col-sm-6">
                <form method="POST" action="{{ url_for('edit_message', messages_id=messages._id) }}">
                    <input type="text" name="message_title" class="form-control validate" id="message_title" placeholder="Title" required/>
                    <textarea rows="5" name="message_content" class="form-control validate" id="message_content" placeholder="Content" required></textarea>
                    <!-- Edit submit button -->
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary">Submit message</button>
                    </div>
                    <!-- Back button -->
                    <div class="back-button row justify-content-center">
                        <a href="{{ url_for('message_board') }}" class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i></a>
                    </div>
                </form>
            </div>
            {% else %}
            <div class="row justify-content-center">
                <div class="alternative-login col-12">
                    <p>Please Login</p>
                    <button class="btn btn-primary alternative-btn"><a href="{{ url_for('login_page') }}">Sign In.</a></button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>


{% endblock %}