{% extends "base.html" %}
{% block content %}

    <div class="container">
        <section>
            <div class="row">
                <div class="col-12 hero-section">
                    <h1 class="hero-title">Tiny Schedules</h1>
                    <hr>
                    <p class="hero-paragraph">A custom schedule planner built for you and your team. 
                        Catering for small teams, businesses and groups who want a personalised site to suit your needs.
                    </p>
                    <p class="go-down">Explore what we offer down below</p>
                    <a class="down-btn" href="#main-features" role="button"><i class="fas fa-angle-down"></i></a>
                </div>
            </div>
        </section>
        <hr>
        <section id="main-features">
            <div class="row selling-points justify-content-center">
                <h2 class="features">Features you can expect.</h2>
            </div>
            <div class="row feature-card-section justify-content-center">
                <div class="feature-card card col-12">
                    <div class="card-body">
                    <h5 class="card-title">Schedule Planning <i class="far fa-calendar-alt"></i></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="feature-card card col-12">
                    <div class="card-body">
                    <h5 class="card-title">Digital message board <i class="fas fa-envelope-square"></i></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="feature-card card col-12">
                    <div class="card-body">
                    <h5 class="card-title">Create and build your own team <i class="fas fa-users"></i></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <section id="pricing">
            maybe add a pricing category ?
        </section>
    </div>

{% endblock %}