{% extends "base.html" %}
{% block nav %}
{{ super() }}
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <!-- Add new user -->
            <div class="card-section col-10">
                <div class="card shadow-sm p-3 mb-5">
                    <div class="management-page card-header">
                        New User
                    </div>
                    <div class="add-user-body card-body">
                        <h5 class="card-title">Have someone new starting ?</h5>
                        <p class="card-text">Add them to your space by creating an account for them.</p>
                        <a href="{{ url_for('register_user') }}" class="plus-button"><i class="fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
            <!-- Schedule -->
            <div class="card-section col-10">
                <div class="card shadow-sm p-3 mb-5">
                    <div class="management-page card-header">
                        Scheudle
                    </div>
                    <div class="Scheudle-body card-body">
                        <h5 class="card-title">Manage your team's scheudle</h5>
                        <p class="card-text">Add, remove or adjust your team's schedule.</p>
                        <a href="#" class="plus-button"><i class="fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}