{% extends "base.html" %}
{% block nav %}
{{ super() }}
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row justify-content-center">
        {% if session.user|lower %}
            {% if session.user|lower == "admin"|lower %}
            <!-- My Team -->
            <div class="card-section col-10">
                <div class="card shadow-sm p-3 mb-5">
                    <div class="management-page card-header">
                        My Team
                    </div>
                    <div class="myTeam-body card-body">
                        <h5 class="card-title">See who is on your team</h5>
                        <p class="card-text">Manage, remove or edit a team member.</p>
                        <a href="{{ url_for('user') }}" class="plus-button"><i class="fas fa-users"></i></i></a>
                    </div>
                </div>
            </div>
            <!-- Add new user -->
            <div class="card-section col-10">
                <div class="card shadow-sm p-3 mb-5">
                    <div class="management-page card-header">
                        New User
                    </div>
                    <div class="add-user-body card-body">
                        <h5 class="card-title">Have someone new starting ?</h5>
                        <p class="card-text">Add them to your space by creating an account for them.</p>
                        <a href="{{ url_for('register_user') }}" class="plus-button"><i class="fas fa-user-plus"></i></a>
                    </div>
                </div>
            </div>
            <!-- Profile -->
            <div class="card-section col-10">
                <div class="card shadow-sm p-3 mb-5">
                    <div class="management-page card-header">
                        Profile
                    </div>
                    <div class="Scheudle-body card-body">
                        <h5 class="card-title">Check your own profile</h5>
                        <a href="{{ url_for('profile') }}" class="plus-button"><i class="fas fa-id-badge"></i></a>
                    </div>
                </div>
            </div>
            {% else %}
            <!-- User Schedule -->
            <!-- Profile -->
            <div class="card-section col-10">
                <div class="card shadow-sm p-3 mb-5">
                    <div class="management-page card-header">
                        Profile
                    </div>
                    <div class="Scheudle-body card-body">
                        <h5 class="card-title">Check your own profile</h5>
                        <a href="{{ url_for('profile') }}" class="plus-button"><i class="fas fa-id-badge"></i></a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% else %}

            <div class="alternative-login col-10">
                <p>Please Login</p>
                <button class="btn btn-primary alternative-btn"><a href="{{ url_for('login_page') }}">Sign In.</a></button>
            </div>

        {% endif %}
        </div>
    </div>

{% endblock %}