{% extends "base.html" %}
{% block content %}


    <div class="container">
        <div class="row justify-content-center">
            {% if session.user|lower %}
            <div class="jumbotron col-sm-6">
                <h3 class="register-heading">Hi {{ session.user }}</h3>
                <textarea rows="5" name="aboutme" class="form-control" id="aboutme" placeholder="Something about yourself"></textarea>
            </div>
            {% else %}
            <div class="row justify-content-center">
                <div class="alternative-login col-12">
                    <p>Please Login</p>
                    <button class="btn btn-primary alternative-btn"><a href="{{ url_for('login_page') }}">Sign In.</a></button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>


{% endblock %}

<!--<h5 class="card-title"> {{ user.fname }}</h5>
                <h5 class="card-title"> {{ user.lname }}</h5>
                <h5 class="card-title"> {{ user.user_info }}</h5>-->