{% extends "base.html" %}
{% block nav %}
{% endblock %}
{% block content %}


    <div class="container">
        <div class="row justify-content-center">
            <div class="jumbotron col-sm-6">
                <h3 class="register-heading">Register someone new</h3>
                <form method="POST" action="{{ url_for('register_user') }}">
                    <!--First & Last name-->
                    <div class="form-group col-12">
                        <label for="fname">First Name</label>
                        <input name="fname" id="fname" type="text" aria-describedby="First Name Section" class="validate form-control" required>
                    </div>
                    <div class="form-group col-12">
                        <label for="lname">Last Name</label>
                        <input name="lname" id="lname" type="text" aria-describedby="Last Name Section" class="validate form-control" required>
                    </div>
                    <!-- Username -->
                    <div class="form-group col-12">
                        <label for="username">User Name</label>
                        <input name="username" id="username" type="text" aria-describedby="Username Section" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate form-control" required>
                    </div>
                    <!-- Password -->
                    <div class="form-group col-12">
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" 
                        minlength="5" maxlength="12" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" class="validate form-control" required>
                    </div>
                    <!-- Register button -->
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary">Register User</button>
                    </div>
                    <!-- Back button -->
                    <div class="back-button row justify-content-center">
                        <a href="{{ url_for('management') }}" class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}