{% extends "base.html" %}
{% block content %}

    {% if users|length > 0 %}
        <div class="container">
            {% if session.user|lower == "admin"|lower %}
            <div class="row justify-content-center">
                {% for user in users %}
                <div class="user-card card col-sm-3 col-10">
                    <!--<img src="..." class="card-img-top" alt="...">-->
                    <div class="card-body">
                        <h5 class="card-title">First Name: {{ user.fname }}</h5>
                        <p class="card-text">Last Name: {{ user.lname }}</p>
                        <p class="card-text">Username: {{ user.username }}</p>
                        <br>
                        {% if session.username == admin %}
                        <a href="{{ url_for('delete_users', users_id=user._id) }}">Delete</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="row justify-content-center">
                <div class="alternative-login col-12">
                    <p>Please Login</p>
                    <button class="btn btn-primary alternative-btn"><a href="{{ url_for('login_page') }}">Sign In.</a></button>
                </div>
            </div>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}